@tailwind base;
@tailwind components;
@tailwind utilities;

.view:has(.cm-focused) {
  background-color: white;
}

.cm-editor.cm-focused {
  outline: none;
}

.cm-editor.cm-focused .cm-gutters {
  background-color: white;
}

.cm-editor div.cm-gutters {
  border-width: 0px;
}

.loading-dialog,
.loading-dialog div {
  box-sizing: border-box;
}

.loading-dialog {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading-dialog div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: loading-dialog 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-dialog div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.loading-dialog div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.loading-dialog div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}

@keyframes loading-dialog {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}